/*Main Page*/
.registro_de_datos_atleta .fa-address-card {
    color: var(--orange);
    font-size: 750%;
}

.reservar_gimnasio .fa-book {
    color: var(--red);
    font-size: 750%;
}

.mi_perfil .user-icon .fa-user {
    color: var(--negro);
    font-size: 750%;
}

/*Margenes y padding en 0%*/

.logo_codea {
    background-color: white;
}

.bodyHomePaige {
    // background-image: url(../img/Degradado.png);
    background-size: cover;
    height: 100%;
}

.bodyLogin {
    // background-image: url(../img/Degradado.png);
    background-size: cover;
    height: 100%;
}

.bodyLogin h1 {
    color: black;
}
.bodyLogin h2 {
    color: black;
}
.bodyLogin h3 {
    color: black;
}
.bodyLogin h4 {
    color: black;
}

.athlete_extra_data {
    // background-image: url(../img/Degradado.png);
    background-size: cover;
    height: 100%;
}
.athlete_data_session {
    // background-image: url(../img/Degradado.png);
    background-size: cover;
    height: 100%;
}

.athlete_extra_data h1,
h2,
h3,
h4,
h5 {
    color: black;
}

.athlete_data_session h2 {
    color: black;
}
.athlete_data_session h3 {
    color: black;
}
.athlete_data_session h4 {
    color: black;
}
.athlete_data_session h5 {
    color: black;
}

.funcionary h3 {
    color: black;
}

.athlete_request {
    // background-image: url(../img/Degradado.png);
    background-size: cover;
    height: 100%;
}
.athlete_data_session h1 {
    color: black;
}
.athlete_data_session h2 {
    color: black;
}
.athlete_data_session h3 {
    color: black;
}

.athlete_request h1 {
    color: white;
}

.athlete_request h2 {
    color: white;
}
.athlete_request h3 {
    color: white;
}
.athlete_request h4 {
    color: white;
}

.athlete_request tr {
    color: white;
}

.athletes {
    // background-image: url(../img/Degradado.png);
    background-size: cover;
    height: 100%;
}
.athletes h1 {
    color: black;
}
.athletes h2 {
    color: black;
}
.athletes h3 {
    color: black;
}
.athletes h4 {
    color: black;
}
.athletes h5 {
    color: black;
}

.funcionary {
    // background-image: url(../img/Degradado.png);
    background-size: cover;
    height: 100%;
}

.booking_form_body {
    // background-image: url(../img/Degradado.png);
    background-size: cover;
    height: 100%;
}
.booking_form_body h1 {
    color: black;
}
.booking_form_body h2 {
    color: black;
}
.booking_form_body h3 {
    color: black;
}
.booking_form_body h4 {
    color: black;
}
.booking_form_body h5 {
    color: black;
}

.change_photo {
    // background-image: url(../img/Degradado.png);
    background-size: cover;
    height: 100%;
}
.change_photo h1 {
    color: black;
}
.change_photo h2 {
    color: black;
}
.change_photo h3 {
    color: black;
}
.change_photo h4 {
    color: black;
}
.change_photo h5 {
    color: black;
}

.seedata {
    // background-image: url(../img/Degradado.png);
    background-size: cover;
    height: 100%;
}

.listAthletes {
    background-image: url("https://photy.org/photos/red-black-lines-photy.org.jpg");
    background-size: cover;
    height: 100%;
}

.body_porfile {
    // background-image: url(../img/Degradado.png);
    background-size: cover;
    height: 100%;
}

.body_porfile h1 {
    color: black;
}
.body_porfile h2 {
    color: black;
}
.body_porfile h3 {
    color: black;
}
.body_porfile h4 {
    color: black;
}
.body_porfile h5 {
    color: black;
}

// .seedata h1,
// h2,
// h3,
// h4,
// h5 {
//     color: white;
// }

/*Colores de CODEA*/
:root {
    --negro: rgb(35, 32, 31);
    --naranja: rgb(240, 123, 45);
    --rojo: rgb(237, 33, 45);
    --blanco: rgb(255, 255, 255);
}
/*LOGO DE CODEA*/
.logo {
    background-color: none;
}

/*--App.blade--*/

/*--Backgrounds--*/
.bg-negro {
    background-color: var(--negro);
}
.bg-blanco {
    background-color: var(--blanco);
}
.bg-naranja {
    background-color: var(--naranja);
}
.bg-rojo {
    background-color: var(--rojo);
}

/*--Botones--*/

/*Boton negro*/
.btn-negro {
    background-color: var(--negro);
    border: none;
    color: white;
}
.btn-negro:hover {
    background-color: var(--rojo);
    color: white;
}
.btn-negro:focus {
    background-color: var(--naranja);
    box-shadow: none;
}
/*Boton rojo*/
.btn-rojo {
    background-color: var(--rojo);
    border: none;
    color: white;
}
.btn-rojo:hover {
    background-color: var(--negro);
    color: white;
}
.btn-rojo:focus {
    background-color: var(--naranja);
    box-shadow: none;
}

/*Boton naranja*/
.btn-naranja {
    background-color: var(--naranja);
    border: none;
    color: white;
}
.btn-naranja:hover {
    background-color: var(--negro);
    color: white;
}
.btn.naranja:focus {
    background-color: var(--naranja);
    box-shadow: none;
}
/*Boton blanco*/
.btn-blanco {
    background-color: var(--blanco);
    border: none;
    color: black;
}
.btn-blanco:hover {
    background-color: var(--negro);
    color: white;
}
.btn-blanco:focus {
    background-color: var(--naranja);
    box-shadow: none;
}

/*Navbar app*/

.nav-item a {
    font-size: 18px;
}

/*---HOME---*/

/*Administrador*/
.Admin h1 {
    color: white;
}
.Admin h2 {
    color: white;
}
.Admin h3 {
    color: white;
}
.Admin h4 {
    color: white;
}

.fisioterapia_clinica .fa-user-md {
    color: white;
    font-size: 750%;
}
.atleta_registro .fa-running {
    color: white;
    font-size: 750%;
}

.Registrar_funcionario .fa-swimmer {
    color: white;
    font-size: 750%;
}

.gimnasio .fa-dumbbell {
    color: white;
    font-size: 750%;
}
.mi_perfil .fa-user {
    color: white;
    font-size: 750%;
}

/*Instructor*/

.Instructor h1 {
    color: white;
}
.Instructor h2 {
    color: white;
}
.Instructor h3 {
    color: white;
}
.Instructor h4 {
    color: white;
}

.Instructor .registro_de_datos_atleta .fa-address-card {
    color: white;
    font-size: 750%;
}
.Instructor .reservar_gimnasio .fa-book {
    color: white;
    font-size: 750%;
}
.Instructor .mi_perfil .user-icon .fa-user {
    color: white;
    font-size: 750%;
}

/*Formulario ATLETA*/

.boton_datos {
    color: black;
    border: none;
}
.boton_datos:hover {
    color: black;
    border: none;
}
.boton_datos:focus {
    border-color: white;
    box-shadow: none;
}
.boton_datos:active {
    border-color: white;
    border: none;
    box-shadow: none;
}

/*Atleta*/

.Atleta h1 {
    color: white;
}
.Atleta h2 {
    color: white;
}
.Atleta h3 {
    color: white;
}
.Atleta h4 {
    color: white;
}

.Atleta .reservar_gimnasio .fa-book {
    color: white;
    font-size: 750%;
}
.Atleta .mi_perfil .fa-user-circle {
    color: white;
    font-size: 750%;
}
.Atleta .expediente .fa-id-card-alt {
    color: white;
    font-size: 750%;
}

/*CSS de Fisioterapia*/
.Fisioterapia .mi_perfil .fa-user-circle {
    color: white;
    font-size: 750%;
}
.Fisioterapia .expediente .fa-id-card-alt {
    color: white;
    font-size: 750%;
}

/*CSS de Musculacion*/
.Musculacion .mi_perfil .fa-user-circle {
    color: white;
    font-size: 750%;
}
.Musculacion .expediente .fa-id-card-alt {
    color: white;
    font-size: 750%;
}

/*Usuario pagina*/
.register_as_athlete .fa-id-card {
    color: var(--negro);
    font-size: 20vh;
}

.navbar-app {
    color: var(--negro);
}

/*App*/
.logo_codea {
    background-color: white;
}
.user-item {
    color: var(--blanco);
}
.user-item:hover {
    color: red;
}
.dropdown-menu .salir:hover {
    color: var(--rojo);
}

/*--LOGIN--*/

.usuario .fa-user {
    font-size: 10vh;
    color: var(--negro);
}

.form-container {
    border: solid 1px var(--negro);
    padding: 50px 60px;
    margin-top: 10vh;
}

.card-body .form-group .form-control {
    box-shadow: var(--rojo);
    color: var(--negro);
}
.card-body .form-group .form-control:focus {
    box-shadow: var(--rojo);
    border-color: #6c757d;
}

/*Cambio de color de un elemento a dentro del login*/
.form-group a {
    color: var(--blanco);
}
.form-group a:hover {
    color: var(--blanco);
}

/*Formulario Reserva de Instalaciones*/
