/*Main Page*/
.registro_de_datos_atleta .fa-address-card{
    color:var(--negro);
    font-size: 750%
}
.reservar_gimnasio .fa-book{
    color:var(--negro);
    font-size: 750%
}
.mi_perfil .user-icon .fa-user{
    color:var(--negro);
    font-size: 750%
}

